*
{
    position: relative;
}
p{
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
    text-align: center;
}
h2{
    
    color: red;
    text-align: center;
}
section{
    display: flex;
}
div{
    top:-5px;    
    position: relative;
    padding-top: 15px;
    background-color: snow;
    box-shadow: 4px 4px 4px black;
}
article{
    position: relative;    
    margin: 8px;
    padding: 17px;
    background-color: #cccccc;
    border: 2px black solid;

}
img{
    width: 300px;
  height: 360px;
  object-fit: cover;
  bottom: -5px;
}