@import url('https://fonts.googleapis.com/css?family=Abel|Cinzel|EB+Garamond&display=swap');
header a{
  text-decoration: none;
  color: black;
} 
header {  
  position: relative;
  display: block;
  width: 40%;
  min-width: 380px;
  margin-left: auto;
  margin-right: auto;
  height: 120px;
  background-color: rgb(250, 237, 227);
  z-index: 20;  
}
@media screen and (max-width: 720px) {
  header{
    margin-left: 0;
  }  
}

.contain{
    position: relative;
}
.container{
  background-color: #F5B681;
  width: 100%;
  min-width: 500px;
}
nav {
  margin: 0 auto;
  max-width: 760px;
  background-color: #F5B681;
}
.desk {
  list-style: none;
  font-size: 25px;
}
.desk li:first-child {
  display: block;
}
.desky li:first-child {
  display: none;
}
.desky2 li:first-child {
  display: none;
}
.desk li, .temp {
  display: none;
}
.desky li{
  display: none;
  margin: auto;
}
.desky2 li{
  display: none;
  margin: auto;
}

.desk a{
  display: block;
  color: #ffffff;
  padding: .75rem;
  
  text-decoration: none;
}
.desk a:hover {
  color: #ffffff;
  background-color: #CFB161;
  font-weight: 700;
}

/* the onclick JS toggles the .repsonsive class from display none (.navigation li) to display block because the repsonsive class is added to the end of the class list like this in HTML Line #6.
  <ul class="navigation responsive">
  */
	.responsive li{
    display: block;
  }
  .responsive li:first-child {
    display: block;
  }
  
  .responsitive li {
    display: none;
  }
  .responsitive2 li {
    display: none;
  }

/* Media Query for medium + screens */
@media only screen and (min-width: 38.5em) {
  .desk {
    display: flex;
  }
  .desk li:first-child {
    display: none;
  }
  .desky li:first-child {
    display: block;
  }
  .desky2 li:first-child {
    display: block;
  }
  .desk ul {
    display: block;
  }
	.desk li{
    display: flex;
    margin-right: 1rem;
  }	
  .desky li {
    display: none;
  }	
  .desky2 li {
    display: none;
  }	
  .responsitive li{
    display: block;
  }
  .responsitive2 li{
    display: block;
  }
  
	.desk li a {
    color: #ffffff;
     
  } 
}
#contenedor h2{
  font-size: 4em;
}
#page{
  display: none;
}
#artic{
  position: relative;
  padding: 50px;
  text-decoration: none;
  list-style:none
}
#supe{
  display: grid;
  grid-template-columns: 50% 50%;
}
#divi{
  position: relative;
}
.center{
  padding: 10px;
  justify-content: center;
  grid-column-end: span 2;
}
#ima{
  display: flex;
  width: 600px;
  margin: 15px;
}
#temp{
  font-size: 5em;
}
.lefts {
  margin: 15px;
}
.rights{
  width: 70%;
}
.titulo{
  font-size: 30px;
}
.titulo2{
  font-size: 40px;
  padding: 10px;
  background-color: #F5B681;
}
.infe{
  margin: 0px;
}
.secinfe, .foodserv{
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 20px;
}
.subtitulo{
  grid-column-end: span 2;
  font-size: 30px;
  font-style: italic;
}
.subsubtitulo{
  font-size: 20px;
}
#address, #telephone, #email, #services,#history, #milestone{
  margin: 10px;
}
.princ{
  font-size: 3em;
}
.speserv, .foodserv, .freeserv {
  margin: 20px;
}
.ame{
  width: 300px;
}
.foodserv h2{
  margin-bottom: 15px;
}
.hero{
  width: 100%;
}
.hero2{
  height: 300px;
  object-fit: cover;
}
.images{
  width: 400px;
  height: 250px;
  object-fit: cover;
}
.cont{
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 4px 4px 4px #4F5C80;
}
.mess{
  font-size: 2em;
  background-color: #F5B681;
  padding: 10px;
}
.sepa{
  display: grid;
  grid-template-columns: 250px 400px;
}
#contenedor h2{
  font-family: 'Cinzel', serif;
}
@media screen and (max-width: 720px) {
  #ima{
    width: 400px;
    margin: 15px;
  }    
  #supe{
    display: grid;
    grid-template-columns: 100%;
  }
  .center{
    padding: 10px;
    justify-content: center;
    grid-column-end: span 1;
  }
  
}
